@charset "utf-8";
/* CSS Document */
h1{
  font-size: 4em;
  /* line-height: 1; */
  font-weight: 700;
  letter-spacing: -0.009em;
  /* color: var(--primary-txt-color); */
  background: var(--gradient-txt-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
  text-align: center;
  font-weight: 600;
  font-style: normal;
  /* line-height: 1.2em; */
  max-width: 26em;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 1em; */
  color: var(--primary-txt-color);
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
/* default big image css above*/

h5 {
  font-weight: 100;
}
a{
  text-decoration: none;
  color: #06c;
}
p{
  font-weight: var(--fw-body);
}

.hero-image-headline {
  margin-bottom: 0.5em;
  /* color: var(--alt-primary-txt-color); */
}
.card-headline {
  font-size: 1.25em;
  /* font-weight:600; */
  font-weight: var(--font-weight);
  margin-bottom: 0;
  color: var(--primary-txt-color);
}
.card-headline.offer, .card-headline.need{
  margin-top: 0.25em;
}
.card-subtext {
  font-size: 1em;
  font-weight:300;
  color: var(--secondary-txt-color);
  margin-top: 0.5em;
}
.hero-headline{
  margin-bottom: 0;
}
.hero-headline.home{
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: -0.009em;
}
.hero-caption {
  color: var(--secondary-txt-color);
  /* font-size: 1.25em; */
  font-size: 21px;
  font-weight: 400;
  /* margin-left: 20%;
  margin-right: 20%; */
}
.offer-headline{
  /* margin-bottom: 0.5em; */
  font-weight: 100;
}
