@charset "utf-8";
/* CSS Document */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: var(--sub-txt-color);
}
.footer.icon {
  max-width: 1em;
}
.fa-facebook-f.footer, .fa-instagram.footer{
  font-size: 1.35em;
}
.grid-container-footer{
  grid-template-columns: auto auto;
  display: grid;
  grid-column-gap: 1.5em;
  margin-left: auto;
  margin-right: auto;
  max-width: min-content;
}
.date {
  color: var(--sub-txt-color);
}
