@charset "utf-8";
/* CSS Document */
.header{
  display: grid;
  grid-template-columns: auto auto auto;
  min-height: 3em;
  }
.branding {
  font-weight: 500;
  color: var(--primary-txt-color);
}
.logo {
  max-width: 1.5em;
}
.header-grid-item{
  display: grid;
  flex-direction: column;
  place-content: center;
}
