@charset "utf-8";
/* CSS Document */
.header{
  display: grid;
  grid-template-columns: auto auto auto;
  min-height: 3rem;
  }
.branding {
  font-weight: var(--fw-body);
  color: var(--primary-txt-color);
}
.logo {
  max-width: 1.5rem;
}
.header-grid-item{
  display: grid;
  flex-direction: column;
  place-content: center;
}
