@charset "utf-8";
/* CSS Document */
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}
/*.mainHero{*/
/*  background-image: url("../img/indexHero.jpg");*/
/*  background-position: right;*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-color: white;*/
/*  !* min-height: 50vh; *!*/
/*}*/
.heroImg{
   /*height: 10vh;*/
  /*width: 100%;*/

}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/*.mainHero, .overlay {*/
/*  min-height: 50vh;*/
/*}*/


.pricing-header, .table-responsive  {
  max-width: 700px;
}
.feature-icon {
  background-color: skyblue !important;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* .btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: skyblue;
    --bs-btn-border-color: skyblue;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #58bce6;
    --bs-btn-hover-border-color: #58bce6;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #58bce6;
    --bs-btn-active-border-color: #58bce6;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: skyblue;
    --bs-btn-disabled-border-color: skyblue;
  } */
.cardList{
      min-height: 8rem;
      max-width: 26rem;
      min-width: 20rem
}
.contactTextarea{
  min-height: 6em !important;
}
.pointer {
  cursor: pointer;
}
.hidden{

}