@charset "utf-8";
/* CSS Document */
.hero-image {
  background-image: url("../img/nutrition-banner.jpeg");
  background-position-x: right;
}
.grid-container-selfcare {
  display: grid;
  grid-template-columns: auto;
  /* center cards */
  margin-left: auto;
  margin-right: auto;
  max-width: min-content;
  margin-bottom: 6%;
}
.icons {
  height: 2.5em;
  filter: var(--primary-color-filter);
}
.grid-container-offer{
  display: flex;
  margin-top: 2em;
  margin-bottom: 2rem;
  gap: 1rem;
  place-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid-item-offer {
  display: flex;
  flex-direction: column;
  max-width: 10em;
  /* place-content: baseline; */
}
hr.card {
  /* border-radius: 1px; */
  width: 100%;
  max-width: 80%;
  /* color: var(--secondary-txt-color); */
  border: 1px solid #eee;
  border-radius: 5px;
}
