@charset "utf-8";
/* CSS Document */
.grid-container-selfcare {
  display: grid;
  grid-template-columns: auto;
  /* center cards */
  margin-left: auto;
  margin-right: auto;
  max-width: min-content;
  margin-bottom: 6%;
}
.grid-item-selfcare {
  text-align: center;
  background-color: var(--card-background-color);
  border-radius: 1em;
  box-shadow: 3px 4px 12px rgb(0 0 0 / 8%);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}
.grid-container-schedule-selfcare{
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  max-width: min-content;
}
